@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>to busted quotes app. it is very cool.</p>
    <p>
        implemented features:
        <ul>
            <li></li>
        </ul>
    </p>
</div>
